body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    margin-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: wheat;
    font-weight: 700px;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner1{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-shadow{
    width: 40%;
    padding-left: 30px;
    box-shadow: 10px 10px 50px gray;
    margin-left: 5%;
    margin-right: 5%;
}
#pro-dev{
    border-left: 7px solid;
    border-image:linear-gradient(red,orange);
    border-image-slice: 1;
}   
#pro-dev1{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    margin-top: 250px;
    text-align: center;
}